/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    color: #212A3E !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-fluid{
    background-color: #9BA4B5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body{
    width: 380px;
    height: fit-content;
    border-radius: 15px;
    background: #9BA4B5;
    box-shadow:  20px 20px 60px #848b9a,
                -20px -20px 60px #b2bdd0;
                overflow: hidden;
}
.col{
    padding: 2px !important;
    margin: 0 !important;
}
.kolomHasil, .tombol{
    width: 100%;
    min-height: 80px;
    border: 0;
    background: #9BA4B5;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    color: #212A3E;
}
.tombol{
    border: 0.5px solid #a2abba;
    font-weight: 600;
    transition: background-color 0.2s ease-in-out, font-size 0.1s ease-in-out;
}
.tombol:hover{
    background-color: #a2abba;
}
.tombol:active{
    color: #212A3E;
    font-size: 25px;
}
.kolomHasil{
    border-radius: 15px 15px 0 0;
    border-bottom: 1px double #a2abba;
    text-align: right;
    white-space: wrap;
    text-wrap: wrap;
}
.kolomHasil:focus{
    outline: none;
}
#btnHapus, #btnSamaDengan{
    border-radius: 0 0 13px 13px !important;
}
/* ================================ */

/* html, body {
min-height: 100%;
padding: 0;
margin: 0;
font-family: Roboto, Arial, sans-serif;
font-size: 14px;
color: #666;
}
h1 {
margin: 0 0 20px;
font-weight: 400;
color: #1c87c9;
}
p {
margin: 0 0 5px;
}
.main-block {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #1c87c9;
}
form {
padding: 25px;
margin: 25px;
box-shadow: 0 2px 5px #f5f5f5; 
background: #f5f5f5; 
}
.fas {
margin: 25px 10px 0;
font-size: 72px;
color: #fff;
}
.fa-envelope {
transform: rotate(-20deg);
}
.fa-at , .fa-mail-bulk{
transform: rotate(10deg);
}
input, textarea {
width: calc(100% - 18px);
padding: 8px;
margin-bottom: 20px;
border: 1px solid #1c87c9;
outline: none;
}
input::placeholder {
color: #666;
}
button {
width: 100%;
padding: 10px;
border: none;
background: #1c87c9; 
font-size: 16px;
font-weight: 400;
color: #fff;
}
button:hover {
background: #2371a0;
} 
@media (min-width: 568px) {
.main-block {
flex-direction: row;
}
.left-part, form {
width: 50%;
}
.fa-envelope {
margin-top: 0;
margin-left: 20%;
}
.fa-at {
margin-top: -10%;
margin-left: 65%;
}
.fa-mail-bulk {
margin-top: 2%;
margin-left: 28%;
}
}

 */

